.navbar-light .navbar-brand {
    height: 130%;
    line-height: 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 30px;
    margin: 0 10%;
    font-size: 24px;
    color: #ffffff;
    background: #4aaaa5;
}
.navbar {
    position: fixed;
    width: 100%;
    padding-right: 10%;
    height: 10%;
    top: 0;
    z-index: 5;
}
.row {
    position: relative;
    margin-top: 5%;
}
.card .card-block {
    width: 100%;
    margin: 0 10%;
}
hr {
    width: 90%;
    margin-left: 0;
}
.card .card-block .card-text {
    width: 90%;
}
figure {
    transition-duration: 0.4s;
}
figure img {
    position: relative;
    margin: 20px;
    top: 0; 
    height: 185px;
    z-index: 1;
}
figcaption {
    background: #4aaaa5;
    position: relative;
    bottom: 100px;
    height: 50px; 
    width: 300px;
    text-align: center;
    margin: 20px;
    line-height: 300%;
    left: 0;
    right: 0;
    z-index: 2;
}
figure:hover {
    opacity: 0.7;
    transform: scale(1.01);
}
.social-media-link {
    position: relative;
    left: 0px;
    max-height: 40px;
    width: 40px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link2 {
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 36px;
    max-width: 37px;
    width: 40px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link:hover {
    opacity: .5;
    transform: scale(1.1);
}
.social-media-link2:hover {
    opacity: .5;
    transform: scale(1.1);
}
#bio-image {
    float: left;
    padding-right: 20px;
}
.footer-copyright {
    position: fixed;
    bottom: 0;
    width: 100%;    
    margin: 0 auto;
    border-top: 5px #4aaaa5 solid;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    z-index: 5;
  }
